/* *{
    margin: 0;
    padding: 0;
} */
body{
    text-align: center;
}
/* #result{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
}
.card{
    text-align: center;
    border: 1px solid;
    padding: 3px;
    border-radius: 10px;
    width: 100px;
} */